:root {
    --fekete: #080B0C;
    --zold: #55be3b;
    --feher: #fff;
    --szurke: #5a5a5a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}
main{
    margin: 60px 0 0 95px;
}



/* Felső Navbar */

/* -    profile rész */
.pkep{
    width: 50px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
    display: flex;
    margin-left: 10px;
}
.links .prof{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    height: 50px;
    background-color: var(--fekete);
}
.prof:hover{
    background-color: var(--szurke);
    cursor: pointer;
}
.pkep img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.prof a{
    color: white;
    text-decoration: none;
}
/* -    profile rész vége */

.menu {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fekete);
    color: white;
    width: 100%;
    box-shadow: 1px 1px 10px var(--fekete);
    top: 0;
    z-index: 1;
    height: 50px;
    font-family: 'Nunito', sans-serif;
}
.mcim {
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    color: var(--zold);
}
.links {
    height: 100%;
    display: flex;
}
.links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.links li {
    list-style: none;
}
.links li a {
    display: block;
    text-decoration: none;
    color: var(--zold);
    padding: 1rem;
    background-color: var(--fekete);
}

.links .prof{
  opacity: 1;
  transition: 0.3s;
}

.links .prof:hover{
  transition: 0.3s;
}

.links li:hover {
    background-color: #555;
}
.links li a:hover {
    background-color: #555;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 500px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .links {
        display: none;
        width: 100%;
    }
    .links ul {
        width: 100%;
        flex-direction: column;
    }
    .links ul li {
        text-align: center;
    }
    .links ul li a {
        padding: .5rem 1rem;
    }
    .links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prof{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px;
    }
}
/* Felső Navbar Vége */

/* Sidebar */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--fekete);
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar ul{
  margin-top: 50px;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 5;
  background-color: white;
  border: 1px solid var(--zold);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: rgba(128, 247, 91, 0.2);
}
.sidebar li a:hover{
  background: var(--zold);
}
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: var(--fekete);
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
#kilepes{
    position: absolute;
    bottom: 0px;
}
#kilepes:hover a{
    background-color: red;
}
.sidebar li a span{
  display: none;
}
@media (max-width: 500px) {
  .sidebar li a span{
    display: block;
  }
  .sidebar{
    width: 100%;
    height: 78px;
    position: fixed;
    top: unset;
    bottom: 0;
  }
  .sidebar ul{
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  #kilepes{
    position: unset;
  }
  .sidebar li{
    margin: 8px 5px;
  }
  main{
    margin: 55px 0 100px 0;
  }
}
/* Sidebar vége */

/* Felhasználó lista (edző vagy kliens) edzo.php, kliens.php */
.felh-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#kezdoMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-bottom: 20px;
}
h1 span{
  color: var(--zold);
}
.uj_felh{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
}
.felh-lista{
  background-color: rgb(241, 241, 241);
  border-bottom: 5px solid var(--zold);
  border-left: 5px solid var(--fekete);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-height: 320px;
  overflow-y: auto;
  border-radius: 30px 0 0 30px;
  width: 70%;
  min-width: 350px;
}
p span{
  color: var(--zold);
}
.felh-lista form{
  width: 90%;
  margin: 10px auto;
}
.felh-lista h2{
  margin: auto;
}
.felh-lista a{
  color: black;
  text-decoration: none;
  width: 100%;
}
.felh-lista a:hover{
  color: var(--zold);
  text-decoration: none;
}
.felh{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 0;
}
.felh p{
  margin: 0 5px;
  font-weight: 600;
}
#kifejezes, #keresett, #meglevoKer{
  padding: 5px;
  width: calc(100% - 85px);
}
#kereses-vissza{
  margin-top: 3px;
}
.uj_felh form{
  margin: 5px 0;
}
.kereses-gomb{
  padding: 5px;
  width: 80px;
}
.pkep-meret{
  height: 50px;
  width: 50px;
}
.felhKeret{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.felhKeret:hover{
  background-color: var(--fekete);
}
.felhKeret a:hover{
  color: var(--zold);
}

.scrollbar::-webkit-scrollbar{
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track{
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb{
  background-color: var(--szurke);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: rgb(63, 62, 62);
}

.scrollbar-feher::-webkit-scrollbar{
  width: 10px;
}

.scrollbar-feher::-webkit-scrollbar-track{
  border-radius: 10px;
}

.scrollbar-feher::-webkit-scrollbar-thumb{
  background-color: var(--feher);
  border-radius: 10px;
}

.scrollbar-feher::-webkit-scrollbar-thumb:hover{
  background-color: var(--szurke);
  border-radius: 10px;
}
/* Felhasználó lista vége */

/* profilAdatok.php */
.fadatok{
  margin: 10px 10px;
  width: 95%;
  font-family: sans-serif, Arial, Helvetica;
}
.felh-nev{
  display: flex;
}
.felh-nev button{
  padding: 10px;
  font-size: 16px;
  min-width: 100px;
}
.fadatok .felh-nev .nev{
  font-size: 25px;
  background-color: rgba(189, 189, 189, 0.6);
  padding: 10px 10px 10px 20px;
  width: 100%;
}
.felh-adatok{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  border: 1px solid var(--szurke);
}
.adatok-tabla{
  display: flex;
  align-items: center;
  width: 75%;
  min-width: 300px;
  margin: 5px;
  padding: 10px;
}
.felh-adatok .adatok-tabla table{
  border: 1px solid var(--szurke);
  width: 100%;
}
.felh-adatok .adatok-tabla table tr{
  height: 40px;
  background-color: rgb(214, 214, 214, 0.6);
}
.felh-adatok .adatok-tabla table th{
  padding: 10px;
  text-align: left;
  width: 20%;
}
.felh-adatok .adatok-tabla table td{
  padding: 10px;
}
.fadatok-pkep{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 300px;
  background-color: white;
  color: black;
  padding-top: 5px;
  margin: 5px;
  
}
.fadatok-pkep .kep{
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.fadatok-pkep .kep:hover{
  opacity: 0.8;
}
.fadatok-pkep .kep img{
  width: 100%;
  height: 100%;
  border: 1px solid var(--szurke);
  object-fit: cover;
}
.fadatok .edzo-gombok{
  margin: 5px 0;
}
.fadatok .edzo-gombok button{
  padding: 10px;
}
/* profilAdatok.php vége */

/* chat.php*/
.chatMain{
  display: flex;
  justify-content: center;
}
.chatWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  color: var(--feher);
  margin-right: 15px;
}

.left_side_pannel{
  min-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--fekete);
  text-align: center;
  padding-top: 15px;
  height: calc(80vh - 100px);
  overflow-y: auto;
}
.OsszeZpanel{
  width: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--fekete);
  min-height: 500px;
  text-align: center;
  padding-top: 15px;
}

.left_side_pannel .prof:hover{
  background-color: var(--fekete);
}
.left_side_pannel .prof{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  height: 50px;
}
.right_side_pannel .prof{
  justify-content: flex-start;
}

.right_side_pannel{
  min-width: 350px;
  width: calc(100% - 350px);
  background-color: var(--zold);
  height: calc(80vh - 100px);
  position: relative;
}

.header{
  background-color: var(--fekete);
  height: 70px;
  display: flex;
}

.container{
  display: flex;
  flex-direction: column;
}

.chatUzenetek{
  padding: 0;
  overflow-y: auto;
  height: calc(80vh - 220px);
}

.chatUzenetek .kimenoUz{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  word-wrap: break-word;
}

.chatUzenetek .kimenoUz p{
  background-color: var(--fekete);
  color: white;
  border: 1px solid var(--fekete);
  border-radius: 5px;
  margin: 7px;
  padding: 5px;
  width: 60%;
  word-wrap: break-word;
}
.chatUzenetek .bejovoUz{
  display: flex;
  width: 100%;
}
.chatUzenetek .bejovoUz p{
  background-color: var(--feher);
  color: var(--fekete);
  align-self: flex-start;
  border: 1px solid var(--fekete);
  border-radius: 7px;
  margin: 7px;
  margin-right: 0;
  padding: 5px;
  width: 60%;
  word-wrap: break-word;
}

.contact{
  width: 330px;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.contact a{
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}
.contact a:hover .prof{
  background-color: rgba(255, 255, 255, 0.2);
}
.header .prof{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.header .prof:hover{
  background-color: var(--szurke);
}
.header .prof .pkep{
  margin-right: 10px;
}
.contact a .prof{
  padding: 28px 10px;
}

.prof .pkep-meret{
  margin-right: 10px;
}

.left_side_pannel::-webkit-scrollbar{
  width: 10px;
}

.left_side_pannel::-webkit-scrollbar-track{
  border-radius: 10px;
}

.left_side_pannel::-webkit-scrollbar-thumb{
  background-color: var(--szurke);
  border-radius: 10px;
}

.left_side_pannel::-webkit-scrollbar-thumb:hover{
  background-color: rgb(63, 62, 62);
}

.chatUzenetek::-webkit-scrollbar{
  width: 10px;
}

.chatUzenetek::-webkit-scrollbar-track{
  border-radius: 10px;
}

.chatUzenetek::-webkit-scrollbar-thumb{
  background-color: var(--fekete);
  border-radius: 10px;
}

.contact #kifejezesChat{
  margin-bottom: 50px;
  margin-left: -15px;
  background-color: var(--szurke);
  border: 1px solid var(--feher);
  border-radius: 5px;
  height: 40px;
  width: 220px;
  padding-left: 5px;
}

.contact #kereses{
  height: 40px;
  width: 45px;
  background-color: var(--szurke);
  border: 1px solid var(--feher);
  border-radius: 5px;
  color: var(--feher);
  font-size: 13px;
  margin-left: 15px;
  margin-right: -15px;
}

.contact #kereses:hover{
  background-color: var(--feher);
  color: var(--fekete);
  cursor: pointer;
}

.container #ChatUzenet{
  height: 50px;
  width: 50px;
  background-color: white;
  color: black;
  font-size: 20px;
  border: 0;
  border: 1px solid black;
  outline: none;
}

.container #ChatUzenet:hover{
  cursor: pointer;
  background-color: var(--fekete);
  color: white;
}
.container #szoveg{
  width: calc(100% - 50px);
  height: 50px;
  resize: none;
  background-color: white;
  color: black!important;
  padding: 0 5px;
  border: 0;
  border: 1px solid black;
  outline: none;
}


.chat-szoveg-kuldes{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 794px) {
  .left_side_pannel{
    height: calc(20vh);
    margin-bottom: 10px;
  }
  .left_side_pannel .mcim{
    display: none;
  }
  .left_side_pannel .contact{
    margin: 0;
  }
  .left_side_pannel .contact a{
    margin: 0;
  }

  .right_side_pannel{
    height: calc(80vh - 170px);
  }
  .right_side_pannel .chatUzenetek{
    height: calc(80vh - 290px);
  }
  .chatWrapper{
    margin: 0;
  }
  .contact #kifejezesChat{
    margin-bottom: 10px;
  }
}

/* chat.php vége */

/* edzesterv-felvitel.php */
#felvitelForm{
  display: flex;
  flex-direction: column;
}
.mezo{
  display: flex;
  flex-direction: column;
}
#et-leiras{
  min-height: 120px;
}

form #kuldes{
  margin-top: 15px;
  height: 40px;
  width: 70px;
  color: var(--zold);
  background-color: var(--szurke);
  border: 1px solid var(--zold);
  border-radius: 5px;
}

form #kuldes:hover{
  color: var(--fekete);
  background-color: #a8a8a8;
  border: 1px solid var(--zold);
  border-radius: 5px;
  cursor: pointer;
}

form .mezo #tipus{
  margin-bottom: 5px;
}

h2 span{
  color: var(--zold);
}

#mezonapok{
  background-color: rgb(49, 49, 49);
  margin: 10px 0;
}
.enap, .etnap{
  background-color: rgb(143, 143, 143);
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.enap #edzes, #etr-etrend{
  height: 160px;
}
/* edzesterv-felvitel.php vége */


/*edzesterv-felvitel.php responsive*/

@media (max-width: 1850px) {
  .mezo .edzesterv{
    width: 95%;
    margin-left: -80px;
    margin-bottom: 22px;
  }

  .mezo .etrend{
    width: 95%;
    margin-left: -56px;
    margin-bottom: 22px;
  }
}
/*edzesterv-felvitel.php responsive vége*/

/* Kezdőlap->felkeresek.php */
.felh-main .kliensCont{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}
h2{
  text-align: center;
}
.meglevo{
  min-width: 350px;
  width: calc(100% - 420px);
  height: calc(80vh - 100px);
  margin: 0 20px 20px 0;
  background-color: rgb(240, 240, 240);
  border-left: 5px solid var(--fekete);
  border-bottom: 5px solid var(--zold);
  border-radius: 20px;
  overflow-y: auto;
}
.meglevo .mkliens{
  display: flex;
  justify-content: space-between;
}
.meglevo .mkliens .gombok{
  display: flex;
  align-items: center;
}
.meglevo .mkliens .gombok button{
  padding: 10px;
}
.meglevo .mkliens a{
  text-decoration: none;
  color: black;
}
.meglevo .mkliens:hover{
  background-color: var(--fekete);
  color: white;
}
.meglevo .mkliens:hover .felh p{
  color: white;
}
.felkeresek{
  background-color: var(--fekete);
  min-width: 350px;
  color: white;
  border-radius: 20px;
  height: calc(80vh - 100px);
  padding: 10px 0;
  overflow-y: auto;
  margin-bottom: 20px;
}

.uj_felh form .kereses-gomb:hover{
  color: var(--zold);
  text-decoration: none;
  cursor: pointer;
}

.felkeres{
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 0;
  justify-content: space-between;
}
.felkeresek .felkeres .felh p{
  color: white;
}
.felkeres .gombok{
  display: flex;
  justify-content: flex-end;
}

.meglevo form #meglevoKer{
  background-color: #d7d7d7;
  border: 1px solid var(--fekete);
  border-radius: 0;
}

.meglevo form .kereses-gomb{
  background-color: #d7d7d7;
  border: 1px solid var(--fekete);
  border-radius: 0;
}

.meglevo form .kereses-gomb:hover{
  color: var(--zold);
}

.felkeres a{
  text-decoration: none;
  color: black;
  width: 100%;
}
.felkeres:hover{
  color: var(--zold);
  opacity: 0.7;
}
.felkeres a:hover{
  color: var(--zold);
}
.felkeres .felh{
  padding: 0;
}
.felkeres button{
  padding: 10px;
}
.felkeres .felh p{
  min-width: 150px;
}
.felkeresek form{
  width: 100%;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
.felkeresek form .kereses-gomb{
  width: 80px;
  margin: 0;
  background-color: #d7d7d7;
  border: 1px solid var(--fekete);
  border-radius: 0;
}

.felkeresek form #FelKeresett{
  border: 1px solid var(--fekete);
  border-radius: 0;
  width: calc(100% - 80px);
}

.felkeresek form .kereses-gomb:hover{
  color: var(--zold);
}

@media(max-width: 600px){
  .felkeresek{
    width: 350px;
  }
  .felkeres{
    width: 350px;
  }
  .felkeres .felh p{
    min-width: unset;
    width: 130px;
  }
  .felkeresek .felkeres a{
    font-size: 14px;
  }
  .felkeres button{
    padding: 5px 3px;
    font-size: 12px;
  }
}
/* Kezdőlap->felkeresek.php vége */

/* Edzésterv megjelenítés Klienseknek */
.edzestervek{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 15px 0;
}
.edzestervek a{
  text-decoration: none;
  color: unset;
  margin: 10px;
}
.edzesterv{
  width: 300px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: -1;
}
.edzestervek a:hover .etkitol p{
  display: block;
}
.edzestervek a:hover .etkitol{
  height: 50px;
}
.edzestervek a:hover .etleirasa{
  height: 150px;
}

.etneve{
  text-align: center;
  background-color: var(--fekete);
  width: 100%;
  height: 50px;
  border-radius: 15px 15px 0 0;
  padding-top: 3px;
  color: white;
}
.etleirasa{
  border-left: 1px solid var(--fekete);
  border-right: 1px solid var(--fekete);
  width: 100%;
  height: 170px;
  padding: 10px;
}
.etleirasa p{
  word-wrap: break-word;
}
.etkitol{
  background-color: var(--zold);
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 15px 15px;
}
.etkitol p{
  display: none;
}
/* ---------- */

/* Teljes Edzésterv megjelenitese */
#teljesMain, #edzestervMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tEdzesterv{
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 40vw;
  min-width: 350px;
  max-width: 1200px;
}
.etTartalom{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgb(248, 248, 248);
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
}
.etEdzesek, .etEtrendek{
  display: flex;
  flex-direction: column;
  width: 48%;
  border: 1px solid gray;
  border-radius: 20px;
  min-width: 350px;
  height: 300px;
  margin-bottom: 10px;
}
.etListak{
  overflow-y: auto;
}
.etEdzesek h2, .etEtrendek h2{
  background-color: rgb(68, 68, 68);
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 19px 19px 0 0;
  margin: 0;
}
.tEdzesterv .etkitol p{
  display: block;
}
.tEdzesterv .etkitol {
  height: 50px;
}
.etLeiras{
  padding: 10px 20px;
  height: 12vw;
  min-height: 200px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  overflow-y: auto;
}
.etLeiras p{
  word-wrap: break-word;
}
.etEdzes, .etEtrend{
  margin: 5px 10px;
  padding: 10px 20px;
  box-shadow: 1px 5px 1px gray;
}
.etEdzes p, .etEtrend p{
  word-wrap: break-word;
}
/* -------------- */

.teljesNap{
  position: absolute;
  top: 20%;
  left: 15%;
  background-color: white;
  color: white;
  width: 70%;
  height: 50%;
  border: 1px solid var(--szurke);
}
.teljesNap h3{
  background-color: var(--zold);
  width: calc(100% - 30px);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}
.teljesNap p{
  word-wrap: break-word;
  color: black;
  padding: 10px 20px;
  overflow-y: auto;
  height: calc(100% - 50px);
}
.teljesNap i{
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teljesNap i:hover{
  cursor: pointer;
  background-color: rgb(146, 0, 0);
}
.tEdzesterv a{
  text-decoration: none;
  color: unset;
}

/* Sikeres alblak edzésterv felvitelnél */
.sikeres{
  font-size: 18px;
  margin-top: 20px;
  background-color: rgb(67, 179, 67);
}
.sikeres p{
  padding: 10px;
  border: 2px solid green;
  background-color: rgb(56, 172, 56);
}
.sikeres a{
  color: rgb(0, 17, 0);
}
/* ------------ */

.sKliensekL{
  width: 90%;
  border-radius: 20px;
  padding: 15px 0;
  min-width: 350px;
  max-width: 1300px;
  border-bottom: 5px;
  border-left: 5px solid var(--fekete);
  border-bottom: 5px solid var(--zold);
  background-color: rgb(240, 240, 240);
  height: calc(80vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}
.kliens{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.kliens a{
  text-decoration: none;
  color: unset;
  width: calc(100% - 350px);
}
.kliens:hover{
  background-color: var(--fekete);
  color: white;
}
.kliens .felh{
  min-width: 350px;
}
.kliens .gombok{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 350px);
  flex-wrap: wrap;
  width: 350px;
}
.kliens .gombok button{
  margin: 3px;
  border-radius: 0;
  font-size: 14px;
  background-color: var(--zold);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: 0;
}
.kliens .gombok button:hover{
  border-color: var(--fekete);
  color: black;
}