/*edzesterv.php*/
ul .edzesterv{
    text-align: center;
    list-style-type: none;
}

.container{
    background-color: rgb(223, 223, 223);
    height: 400px;
}

button{
    float: right;
    padding: 10px;
}

button:hover{
  float: right;
  padding: 10px;
  cursor: pointer;
}

/*edzesterv.php responsive*/
@media (max-width: 500px) {
  ul .edzesterv{
    list-style-type: none;
    text-align: center;
    margin-left: 0;
  }
}
/*edzesterv.php responsive vége*/