/*edzesterv.php*/
ul .edzesterv{
    text-align: center;
    list-style-type: none;
}

main h1{
  text-align: center;
}

.container{
    background-color: rgb(223, 223, 223);
    height: 400px;
    width: 1500px;
    margin-left: 250px;
}

button{
    margin-left: 250px;
    padding: 10px;
    margin-top: 2px;
}

button:hover{
  margin-left: 250px;
  padding: 10px;
  cursor: pointer;
}

/*edzesterv.php responsive*/
@media (max-width: 500px) {
  ul .edzesterv{
    list-style-type: none;
    text-align: center;
    margin-left: 0;
  }

  .container{
    height: 308px;
  }

  button{
    margin-left: 0;
  }

  button:hover{
    margin-left: 0;
    cursor: pointer;
  }
}
/*edzesterv.php responsive vége*/