:root {
    --fekete: #080B0C;
    --zold: #55be3b;
    --feher: #fff;
    --szurke: #5a5a5a;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
input:focus{
    outline: 2px solid var(--zold);
}
.mezokep{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
form{
    width: 60%;
    margin: 20px;
    border: 5px solid var(--zold);
    color: var(--feher);
    padding: 20px;
    min-width: 300px;
    background-color: var(--fekete);
    border-radius: 10px;
}
main .mezo #rendben{
    margin-top: 15px;
    background-color: var(--zold);
    color: black;
    border: 0;
    border: 1px solid  var(--zold);
}
.mezo select{
    border: 1px solid black;
    color: black;
    font-size: 16px;
    padding: 5px;
}
.mezo select{
    cursor: pointer;
}
.mezo option{
    border: 1px solid  var(--zold);
    color: black;
}
.mezokep #foto{
    font-size: 14px;
    margin: 5px 0 10px 0;
}
main #reg{
    width: 100%;
    height: 30px;
    font-size: 16px;
    margin: 15px 0 10px 0;
    border-radius: 5px;
    border: 1px solid  var(--zold);
    color: black;
    background-color: var(--zold);
}
main #reg:hover{
    cursor: pointer;
    background-color: rgb(79, 119, 79);
}
main .mezo #rendben:hover{
    background-color: rgb(79, 119, 79);
    cursor: pointer;
    color: black;
}
.mezo{
    font-size: 18px;
    margin: 10px 0;
}
.mezo input{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    color: var(--zold);
    padding: 5px;
    border: 1px solid rgb(180, 180, 180);
}

.sikeres{
    font-size: 18px;
    margin-top: 20px;
    background-color: rgb(67, 179, 67);
}
.sikeres p{
    padding: 10px;
    border: 2px solid green;
    background-color: rgb(56, 172, 56);
}
.sikeres a{
    color: rgb(0, 17, 0);
}
.hibauzenet{
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

/* reg.html */
.reg{
    margin-top: 20px;
    width: 90%;
}
.reg h2{
    text-align: center;
    margin-bottom: 10px;
}
.profilok{
    display: flex;
    justify-content: center;
}
.kartya{
    width: 300px;
    background-color: white;
    border: 2px solid var(--szurke);
    padding: 10px;
    margin: 0 10px;
}
.kartya:hover{
    cursor: pointer;
    opacity: 0.5;
}
.kartya_kep img{
    width: 100%;
}
#bemutatkozo{
    width: 100%;
    height: 200px;
}
/* reg.html vége */

.tip{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.tooltip{
    width: 20px;
    margin-left: 10px;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.ujJelszoB{
    margin: 20px 0;
}
.aszf{
    margin-top: 20px;
    font-size: 16px;
}
.aszf input{
    width: 17px;
    height: 17px;
}

.aszfAb{
    width: 70%;
    min-width: 350px;
    height: 70vh;
    min-height: 300px;
    background-color: white;
    border: 1px solid black;
    position: relative;
}
.aszfH{
    display: flex;
    
    position: absolute;
    top: 0;
    background-color: var(--zold);
    width: 100%;
    height: 50px;
}
.aszfH p{
    width: calc(100% - 50px);
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: bold;
}
.aszfH i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.aszfH i:hover{
    background-color: rgb(158, 10, 10);
    cursor: pointer;
}
.aszfAb .aszfLe{
    background-color: rgb(214, 214, 214);
    margin-top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 3;
    overflow-y: auto;
    padding: 10px 30px 10px 10px;
    text-align: justify;
}

form a{
    color: var(--zold);
}