:root {
    --fekete: #080B0C;
    --zold: #55be3b;
    --feher: #fff;
    --szurke: #5a5a5a;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.mezokep{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
form{
    width: 60%;
    margin: 20px;
    border: 5px solid var(--zold);
    color: var(--feher);
    padding: 20px;
    min-width: 300px;
    background-color: var(--fekete);
    border-radius: 10px;
}
main .mezo #rendben{
    margin-top: 15px;
}
.mezo select{
    border: 1px solid  var(--zold);
    background-color: var(--szurke);
    color: var(--zold);
}
.mezo select{
    cursor: pointer;
}
.mezo option{
    border: 1px solid  var(--zold);
    background-color: var(--szurke);
    color: var(--zold);
}
main #reg{
    width: 100%;
    height: 30px;
    font-size: 16px;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    border: 1px solid  var(--zold);
    background-color: var(--szurke);
    color: var(--zold);
    margin-top: 15px;
}
main #reg:hover{
    background-color: #a8a8a8;
    cursor: pointer;
    color: black;
}
main .mezo #rendben:hover{
    background-color: #a8a8a8;
    cursor: pointer;
    color: black;
}
.mezo{
    font-size: 18px;
}
.mezo input{
    width: 100%;
    height: 30px;
    font-size: 16px;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    border: 1px solid  var(--zold);
    background-color: var(--szurke);
    color: var(--zold);
}

.sikeres{
    font-size: 18px;
    margin-top: 20px;
    background-color: rgb(67, 179, 67);
}
.sikeres p{
    padding: 10px;
    border: 2px solid green;
    background-color: rgb(56, 172, 56);
}
.sikeres a{
    color: rgb(0, 17, 0);
}
.hibauzenet{
    color: red;
    margin-bottom: 10px;
}

/* reg.html */
.reg{
    margin-top: 20px;
    width: 90%;
}
.reg h2{
    text-align: center;
    margin-bottom: 10px;
}
.profilok{
    display: flex;
    justify-content: center;
}
.kartya{
    width: 300px;
    background-color: white;
    border: 2px solid var(--szurke);
    padding: 10px;
    margin: 0 10px;
}
.kartya:hover{
    cursor: pointer;
    opacity: 0.5;
}
.kartya_kep img{
    width: 100%;
}
/* reg.html vége */